* {
  margin: auto 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  background-color: rgb(228, 177, 36);

}

.status {
  display: flex;
  padding: 3% 0 1% 3%;
  
  background-color: #FFFDFA;
  border-bottom-style: solid;
  border-bottom-width: 0.4em;
  border-bottom-color: #0074B3;
}
.display {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2%;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  flex-direction: column;
  background-color: white;
  border-radius: 75px;
}
.question {
  display: flex;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
}
.answers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 125%;
  margin-top: 2%;
  
}

.right {
  color: rgb(17, 78, 17);
}

.wrong {
  color: rgb(214, 8, 8);
}

h1 {
  margin-bottom: 2%;
  color: rgb(2, 2, 58);
}
.welcome {
  font-family: 'Fontdiner Swanky', cursive;
  color: rgb(1, 1, 10);
  letter-spacing: 0.2em;
  font-size: 2em;
}
fieldset {
  border: none;
}
h3{
color: rgb(5, 5, 211);
}
button {
  align-self: center;
  padding: 1%;
  margin-top: 2%;
  border-radius: 5px;
  background-color: white;
  border-style: solid;
  font-family:'Fontdiner Swanky', cursive;

}

button:hover{
  background-color: rgb(228, 222, 222);
}

