* {
  margin: auto 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;

}

.status {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1%;
}
.display {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1%;
  flex-direction: column
  
}
.question {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.answers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}


main {
}